body {
  background-color: rgb(216, 236, 241);
}


body {
  font: 15px serif, Lora;
}


img {
  border-radius: 8px;
}


a:hover {
  color: Black;
}

nav {
  background-color:lightgreen;
}

header {
  background-color:orange;
}

main {
  background-color:blue;
}

footer {
  background-color:lightblue;
}

ul.a {list-style-type: circle;}