body {
  background-color: rgb(216, 236, 241);
}


body {
  font: 15px serif, Lora;
}


img {
  border-radius: 8px;
}


a:hover {
  color: Black;
}

nav {
  background-color:lightblue;
}

header {
  background-color:orange;
}

main {
  background-color:blue;
}

footer {
  background-color:lightblue;
}

ul.a {list-style-type: circle;}

.redtext {
  color:red;
}

#whitetext {
  color:rgba(255, 255, 255, 0.753);
}

#center {
  text-align: center;
}

#title {
  background-color: orange;
  color:black;
  padding: 40px;
  text-align:center;
}

.border {
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.Navbar {
a:link, a:visited {
  background-color: Lightblue;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(119, 158, 172);
  color: white;
}
}

.Image {
  a:link, a:visited {
    background-color: rgb(202, 223, 228);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(167, 188, 194);
    color: white;
  }
  }